    <header id="header" class="header-large clearfix">
	    <div class="header_title">
	        <h1>Fever Pitch</h1>
	    </div>

	    <div class="header__inner">
	        <nav class="header__function">
	            <ul class="header_menu">
	            	<li class="header_item"><%= link_to "Home", "#" %></li>
	            	<li class="header_item"><%= link_to "企業情報", "#" %></li>
	            	<li class="header_item"><%= link_to "お問い合わせ", "#" %></li>
	        	</ul>
	        </nav>
	    </div>

    </header>

    <main class="main_top">
    	
    </main>