<%= render 'root/header' %>

<div class="top">
	<div class="top_in">
		<h1 class="head">COMPANY</h1>
		<span class="border"></span>
	</div>
</div>

<div class="company_info">
	<ul>
		<li class="company_item">
			<div class="company_item_head">社名</div>
			<div class="company_item_data">株式会社フィーバーピッチ/Fever Pitch Inc</div>
		</li>
		<li class="company_item">
			<div class="company_item_head">設立</div>
			<div class="company_item_data">2018年</div>
		</li>
		<li class="company_item">
			<div class="company_item_head">資本金</div>
			<div class="company_item_data"></div>
		</li>
		<li class="company_item">
			<div class="company_item_head">事業内容</div>
			<div class="company_item_data"></div>
		</li>
		<li class="company_item">
			<div class="company_item_head">役員</div>
			<div class="company_item_data"></div>
		</li>
		<li class="company_item">
			<div class="company_item_head">代表者</div>
			<div class="company_item_data">大森貴之</div>
		</li>
		<li class="company_item">
			<div class="company_item_head">TEL</div>
			<div class="company_item_data">000-0000-0000</div>
		</li>
	</ul>
</div>

