<%= render 'root/header' %>

<div class="top">
	<div class="top_in">
			<h1 class="head">FEVER US</h1>
			<span class="border"></span>
	</div>

	<div class="container clearfix">
		<div class="ceo_img">
			<%= image_tag ('adult-beard.jpg'), class: "us_img" %>
		</div>

		<div class="info">
			<h2 class="info_name">大森貴之</h2>
			<p>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森</p>
		</div>
	</div>

		<div class="container clearfix">
		<div class="ceo_img">
			<%= image_tag ('adult-beard.jpg'), class: "us_img" %>
		</div>

		<div class="info">
			<h2 class="info_name">大森貴之</h2>
			<p>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森>大森大森大森大森大森大森大森大森大森大森大森大森大森</p>
		</div>
	</div>
	
</div>
