// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*company.html*/
.head{
		font-family: Poppins,
				 sans-serif;
		letter-spacing: 6.8px;
		text-align: center;
		color: #24282a;
}






/* fever_us.html*/

.top{
	width: 100%;
	padding-top: 100px;
	text-align: center;
}
.top_in{
	width: 1024px;
	margin: 50px auto;
}
.border{
	width: 70px;
	height: 2px;
	margin-top: 9px;
	margin: auto;
	display: inline-block;
	background-color: black;
}


.container{
	width: 1000px;
	height: auto;
	margin: auto;
	border-left: 1px solid #E1E1E1;
	border-right: 1px solid #E1E1E1;
	border: 1px solid #E1E1E1;
}
.ceo_img{
	width: 35%;
	float: left;
	margin-top: 50px;
}
.us_img{
	margin-left: 80px;
	width: 150px;
	height: 150px;
	float: left;
}
.info{
	width: 45%;
	margin-right: 120px;
	float: right;
	word-break: break-all;
	letter-spacing: 1px;
}
.info_name{
	text-align: left;
	line-height: 4;
}
/*company.html*/

.company_info{
	width: 600px;
	margin: auto;
}

.company_item{
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 5px;
  	border-bottom: 1px solid #D4C2BE;
 	margin-bottom: 5px;
 	margin-top: 20px;
 	letter-spacing: 1px;
 	font-family: "游ゴシック体",
 				 YuGothic,
 				 "游ゴシック Medium",
 				 "Yu Gothic Medium",
 				 "source-han-sans-japanese",
 				 "メイリオ", sans-serif;
}

.company_item_head{
	width: 100px;
	height: 50px;
	margin-right: 50px;
	font-size: 15px;
	color: rgba(0,0,0,.6);

}
.company_item_data{
	height: 50px;
	font-size: 18px;
	font-weight: 600;
	color: rgba(0,0,0,.7);
}



